<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src= "images/logo.jpg" alt = "logo">
        <h1>WELLCOME TO MY FIRST DJANGO APP </h1>

    </header>
    <main  style="background-color: aqua;">
        {% if product == 404 %}
            <h1> SORRY THEIR IS NO PRODUCT NAMED: {{name_of_product}}</h1>
        {% else %}
            
            {%for product,details in pairs %}
            <h1>{{product.name}} details: </h1>
                <li>id: {{product.id}}  </li>
                <li>name: {{product.name}} </li>
                <li>description: {{product.description}} </li>
                <li>price: {{product.price}} </li>
                <li>category: {{product.category}} </li>
                <li>created_at: {{details.created_at}}</li>

            {% endfor %}
        {% endif %}

    </main>   
    <footer>
        
    </footer>
    
</body>
</html>