{% comment %} <!DOCTYPE html> {% endcomment %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src= "images/logo.jpg" alt = "logo">
        <h1>WELLCOME TO MY FIRST DJANGO APP </h1>

    </header>
    <main  style="background-color: aqua;">
        {% comment %} list of students {% endcomment %}
            <h2> students WITH COURCE THEY TAKE</h2>
            {% if not pairs %}
            <h3><li>empty students list<li></h3>
            {% endif %}

            <hr>
            {% for student in pairs %}
                <h3>student {{student.name}}: </h3>
                {% for cource in student.cources.all %}
                    <li>{{cource.c_name}}</li>

                {% endfor %}
            {% endfor %}
    </main>   
    <footer>
        
    </footer>
    
</body>
</html>